<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Тестирование ГЕЛИОС 2">

    <test name="Тестирование логирования" >
        <groups>
            <run>
            <exclude name="loginTest"/>
            </run>
        </groups>
        <classes>
            <class name="test.LoginTestWP" />
        </classes>
    </test>

    <test name="Тестирование меню" >
        <groups>
            <run>
                <!--<exclude name="menuTest"/>-->
            </run>
        </groups>
        <classes>
            <class name="test.MainMenuTestWP" />
        </classes>
    </test>
</suite>